name: Compiler CI

on: [push, pull_request]

env:
  LLVM_VERSION: "18"

jobs:
  build-ubuntu:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        asan: [ON, OFF]
        build_type: [Debug, Release]
        os:
          - ubuntu-latest
          # - windows-latest
          # - macos-latest

    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v27
      - run: nix build
      - run: nix flake check
